body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #66c2ed, #b01cd5);
}

.calculator {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

#display, #history {
    width: 95%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1{
    color:rgb(206, 62, 62) ;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
}

button:hover {
    background-color: #ddd;
}
